# File compilati
*.class
bin/
build/

# File di sistema Mac
.DS_Store

# Impostazioni locali Eclipse (Opzionale, meglio ignorarle se lavori in team)
.metadata/

# I file database (non caricarli mai su internet per privacy!)
*.ser
synergy_uploads/